 .container {
     margin: auto;
     margin-bottom: 50px;
     width: 60%;
     border: 1px solid black;
     box-shadow: 5px 10px 8px 10px #888888;
     padding: 10px;
 }
 
 .container>h3 {
     text-align: center;
 }