body {
    background-color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

tbody>tr>td {
    background-color: crimson;
}